*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx{
        position: relative;
        width: 60%;
        height: 100%;
}
section .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgBx img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
section .contentBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
section .contentBox .formBx{
    width: 50%;
}
section .contentBox .formBx h2{
    content: #607b8d;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
section .contentBox .formBx .inputBx{
    margin-bottom: 20px;
}
section .contentBox .formBx .inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
section .contentBox .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607b8d;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607b8d;
    background: transparent;
    border-radius: 30px;
}
section .contentBox .formBx .inputBx input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}
section .contentBox .formBx .inputBx input[type="submit"]:hover{
    background: blue;
}
section .contentBox .formBx .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 400;
    font-size: 14px;
}
section .contentBox .formBx .inputBx p{
    color: #607d8b;
}
section .contentBox .formBx .inputBx p a{
    color: #ff4584;
}
section .contentBox .formBx h3{
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
section .contentBox .formBx .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .contentBox .formBx .sci li img{
    width: 90%;
    height: 105;
}
section .contentBox .formBx .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}
section .contentBox .formBx .sci li:hover{
    background: #e91e63;
}
section .contentBox .formBx .sci li img{
    transform: scale(0.5);
    filter: invert(1);
}
@media (max-width: 768px){
    section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .contentBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .contentBox .formBx {
        width: 50%;
        padding: 40px;
        background: rgb(255 255 255 / 0.7);
        margin: 50px;
    }
    section .contentBox .formBx h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}


